@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android";
    src: url(Fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
}

.meu-botao {
    background-color: #4197ff;
    color: white;    
    border: none;  
    padding: 15px 370px;
    text-align: center;       
    text-decoration: none;     
    display: inline-block;    
    font-size: 16px;           
    margin: 4px 2px;          
    cursor: pointer;           
    border-radius: 4px;       
    transition: background-color 0.3s; 
}

.meu-botao2 {
    background-color: #4197ff;
    color: white;    
    border: none;  
    padding: 15px 370px;
    text-align: center;       
    text-decoration: none;     
    display: inline-block;    
    font-size: 16px;           
    margin: 4px 2px;          
    cursor: pointer;           
    border-radius: 4px;       
    transition: background-color 0.3s; 
}

.meu-botao {
    background-color: #4197ff;
    color: white;    
    border: none;  
    padding: 15px 370px;
    text-align: center;       
    text-decoration: none;     
    display: inline-block;    
    font-size: 16px;           
    margin: 4px 2px;          
    cursor: pointer;           
    border-radius: 4px;       
    transition: background-color 0.3s; 
}

.meu-botao:hover {
    background-color: #45a049; /* Cor ao passar o mouse */
}

:root{
    --cor0:#435694;
    --cor1:#324783;
    --cor2:#223972;
    --cor3:#112a61; 
    --cor4:#001b50;
    --cor5:#000f2d;
    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: "Android", cursiva;

}
body{
    background-image: linear-gradient(to top, var(--cor0),var(--cor1),var(--cor2),var(--cor3), var(--cor4),var(--cor5));
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    height: 400px;
    text-align: center;
    padding-top: 40px;
}

header h1{
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 3em;
    text-shadow: 8px 8px 5px #433535;
    padding-bottom: 20px;
}

header p{
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    text-shadow: 7px 5px 10px #433535;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

nav{
    background-color: var(--cor4);
    box-shadow: -1px 7px 10px #090909;
    display: flex;
    justify-content: center;
}

nav a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;

}

nav a:hover{
    background-color: var(--cor3);
    border-radius: 5px;
}

main{
    background-color: rgba(255, 255, 255, 0.848);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: -1px 7px 10px #474646;
}

main h1{
    font-family: var(--fonte-android);
    text-align: center;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor5);
    margin: 10px;
    padding: 3px;
    background-image: linear-gradient(to right, var(--cor2), transparent);
}

main p{
    font-family: var(--fonte-padrao);
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 30px;
    line-height: 2em;
    margin: 15px 0px;
    font-size: 1.1em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    background-color: var(--cor1);
    font-weight: bold;
    color: black;
    padding: 4px;
    text-decoration: none;
}

main a:hover{
    color: rgb(62, 60, 60);
    text-decoration: underline;
}

main a::after{
    content: '\1F517';
}

main img{
    width: 100%;
}

main img.pequeno{
    width: 50%;
    display: block;
    margin: auto;
}

div{
    background-color: var(--cor5);
    margin: 0px 0px 0px 0px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}

div > iframe{
    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: auto;   
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor2);
    border-radius: 10px;
    margin: 25px;
    box-shadow: 5px 10px 18px #302828;
    padding: 15px;
}

aside h3{
    background-color: var(--cor5);
    color: white;
    font-weight: bold;
    margin: -16px -15px 0px -16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 0px 10px 10px;
}

aside ul{
    list-style-type: '\1F5F8\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 10px 0px;
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}
